body {
  background-image: url(../images/Poweredby_100px-White_VertText.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #4d4d4d;
}
.tvshow {
  float: left;
  margin: 10px 10px 0 10px;
}
#favorites {
  border: 1px solid #ffffff;
  margin-top: 1%;
}
