body {
  background-color: #4d4d4d;
  color: #ffffff;
}
.tvshow {
  float: left;
  margin: 10px 10px 0 10px;
}
#favorites {
  border: 1px solid #ffffff;
  margin-top: 1%;
}
#nav-bar {
  background-color: #000000;
}
#nav-title {
  color: #ffffff;
}
#omdb {
  color: #ffffff;
}
#giphy {
  background-color: #000000;
  position: fixed;
  right: 0;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }
  #nav-bar {
    background-color: #cacaca;
  }
  #nav-title {
    color: #000000;
  }
  #omdb {
    color: #000000;
  }
}
